div{
    color: blueviolet;
    background-color: aqua;
}
body{
    background-color: rgb(215, 220, 100);
}
.centerdiv{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.heading{
    color: beige;
}
.changecolor:hover{
    color: brown;
}